@using ExternalBlogAggregation.Models
@using Orchard.ContentManagement
@using Orchard.Core.Common.Models
@using Orchard.Tags.Models
@{
    var item = ((IContent) Model.ContentItem);
    var common = item.As<CommonPart>();
    var body = item.As<BodyPart>();
    var tags = item.As<TagsPart>();
    var externalPost = item.As<ExternalBlogPostPart>();
}
<div class="postsummary"><h4><a href="@externalPost.Url">@externalPost.Title</a></h4>
    <div class="postmeta">
        <strong>Posted by @externalPost.Author</strong> on @(((DateTime)common.CreatedUtc).ToString("MM/dd/yyyy a\t h:mm tt")).
    </div>
    <div>@Html.Raw(body.Text)</div>
    <div class="postlink">
        <span class="tags"><strong>Tags:</strong><i>&nbsp;@String.Join(", ", tags.CurrentTags.Select(t => t.TagName))</i></span><br/>
        <a href="@externalPost.Url">Read more...</a>
    </div>
</div>